section.side-nav{
    background-color:#fee4dd;
    color:#761ed6;
    overflow:auto;
    font-weight:500;
    text-align:left;
    border-right:2px solid #761ed6;
    height: 100%;
}
ul.side-nav{
    display: none;
}
@media only screen and (min-width:768px){
    section.side-nav{
        width:230px;
        padding-bottom:0;
        height:100vh;
    }
    ul.side-nav{
        display: block;
    }
}
a.nav-link,a.nav-link:hover{
    color:#761ed6;
    text-decoration: none;
}
section.side-nav .section__inner{
    max-width:none;
    margin:0 auto
}
section.side-nav ul.side-nav{
    list-style:none;
    vertical-align:top;
    margin:0;
    padding:0
}
section.side-nav li{
    margin:0;
    vertical-align:top;
    border:2px solid #761ed6;
    overflow:auto;
    border-left:0;
    border-right:0
}
section.side-nav li.separator{
    position:relative;
    display:block;
    text-align:center;
    height:52px;
    overflow:visible
}
section.side-nav li.separator .separator__inner{
    position:relative;
    display:block;
    height:50px;
    padding:15px 0;
    width:100%;
    background-color:#fee4dd;
    background-image:url(/images/pattern-dots-tiny.svg);
    background-repeat:repeat;
    background-size:4px;
    margin-top:-2px;
    border-top:2px solid #761ed6
}
section.side-nav li:first-of-type,section.side-nav li:not(:first-of-type),section.barchart li:first-of-type{
    border-top:0
}
section.side-nav li.separator span{
    margin:0 5px;
    vertical-align:middle
}
section.side-nav li div,section.barchart li,section.barchart li div{
    vertical-align:top
}
@media only screen and (min-width:768px){
    section.side-nav li.separator .separator__inner{
        width:228px
    }
    section.side-nav li.separator span{
        margin:0 7px
    }
    section.side-nav li .row:hover .chart-name,section.side-nav li .row:hover .chart-num{
        background-image:url(/images/pattern-dots-tiny.svg);
        background-size:4px
    }
}
section.side-nav li.separator span:not(:nth-of-type(4)){
    font-size:10px
}
section.side-nav li.separator.top{
    z-index:100
}
section.side-nav li.separator.rest{
    z-index:200
}
section.side-nav li:not(.separator){
    cursor:pointer
}
section.side-nav li .row{
    margin:0 auto;
    display:-webkit-flexbox;
    display:-ms-flexbox;
    display:-moz-flex;
    display:flex;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap
}
section.side-nav .chart-name,section.side-nav .chart-num{
    display:inline-block;
    height:70px;
    line-height:42px;
    background-color:#fee4dd;
    font-weight: 600;
    text-align: center;
}
section.side-nav .chart-num{
    width:70px;
    text-align:center;
    padding:14px 0;
    border-right:2px solid #761ed6;
    -ms-flex:none;
    flex:none
}
section.side-nav .chart-name{
    position:absolute;
    left:70px;
    right:0;
    padding:14px 0 14px 14px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    -ms-flex:none;
    flex:none
}
@media only screen and (min-width:768px){
    section.side-nav .chart-name{
        position:relative;
        left:auto;
        right:auto;
        width:228px
    }
}

section.side-nav li .row:hover,section.side-nav li.separator .separator__inner,section.filter div.options,section.filter div.value,section.filter div[data-close]{
    text-shadow:0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd,0 0 4px #fee4dd
}

/*--Logo--*/
div.logo{
    position:relative;
    border-bottom:2px solid #761ed6;
    height:100px;
    background-image:url(/images/pattern-dots-dense.svg);
    background-size:4px
}
div.logo a.by-bolster,div.logo h1{
    position:absolute;
    display:block;
    font-size:0;
    background-size:contain;
    background-repeat:no-repeat
}
div.logo h1{
    top:25px;
    left:25px;
    right:25px;
    bottom:25px;
    background-image:url(/fivekill_logo.svg);
    background-position:center;
    background-color: rgba(256,256,256,0.5);
    border-radius: 350px;
}


/*----Mobile NAV ----*/
section.options{
    position:fixed;
    right:2px;
    left:2px;
    bottom:0;
    width:100%;
    height:64px;
    padding:0;
    border-top:2px solid #761ed6;
    border-right:2px solid #761ed6;
    border-bottom:2px solid #761ed6;
    box-sizing:border-box;
    background-image:url(/images/pattern-dots-tiny.svg);
    background-repeat:repeat;
    background-size:4px
}

@media only screen and (min-width:768px){
    div.logo{
        height:230px;
        background-size:4px
    }

    section.options .section__inner{
        display: none;
    }
}

.floater{
    position:fixed;
    display:none;
    text-align:center;
    font-weight:500;
    border:2px solid #761ed6;
    padding:30px 30px 30px 116px;
    font-size:20px;
    pointer-events:none
}
section.options label span,section.options label span small{
    font-size:12px;
    pointer-events:none
}
.floater span.number{
    border-right:2px solid #761ed6;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    font-weight:500;
    width:86px;
    line-height:86px;
    vertical-align:middle
}

@media only screen and (min-width:768px){
    section.options{
        right:auto;
        top:2px;
        bottom:2px;
        height:auto;
        width:60px;
        border-top:0;
        border-bottom:0
    }
}
section.options .section__inner{
    width:100%;
    margin:0;
    text-align:center
}
@media only screen and (min-width:768px){
    section.options .section__inner{
        position:absolute;
        top:50%;
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        width:60px
    }
}
section.options label{
    position:relative;
    z-index:20;
    display:inline-block;
    width:60px;
    text-align:center;
    font-weight:700;
    cursor:pointer;
    margin-top:10px;
}

@media only screen and (min-width:768px){
    section.options label{
        width:100%;
        height:82.5px;
        display:block
    }
}
section.options label input{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    visibility:hidden
}
section.options label span{
    text-shadow:0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd,0 0 3px #fee4dd;
    display:inline-block;
    width:33px;
    padding-top:18px;
    padding-bottom:18px;
    line-height:13px;
    font-weight:500
}

section.options .handle{
    transition:top .3s cubic-bezier(.53,.03,.21,.96),transform .3s cubic-bezier(.53,.03,.21,.96);
    position:absolute;
    top:5px;
    left:51%;
    width:52px;
    height:52px;
    background-color:#fee4dd;
    border:2px solid #761ed6;
    border-radius:100%;
    z-index:10;
    -ms-transform:translateX(-116px);
    transform:translateX(-116px)
}

@media only screen and (min-width:768px){
    section.options label span{
        padding-bottom:0
    }
    section.options .handle{
        top:10px;
        left:9px;
        -ms-transform:none;
        transform:none;
        width:42px;
        height:42px
    }
    section.options[data-active-option="6h"] .handle{
        top:10px
    }
}
@media only screen and (max-width:767px){
    section.options[data-active-option="6h"] .handle{
        -ms-transform:translateX(-146px);
        transform:translateX(-146px)
    }
    section.options[data-active-option="12h"] .handle{
        -ms-transform:translateX(-116px);
        transform:translateX(-116px)
    }
    section.options[data-active-option="1d"] .handle{
        -ms-transform:translateX(-56px);
        transform:translateX(-56px)
    }
    section.options[data-active-option="2d"] .handle{
        -ms-transform:translateX(4px);
        transform:translateX(4px)
    }
    section.options[data-active-option="7d"] .handle{
        -ms-transform:trans-lateX(64px);
        transform:translateX(64px)
    }
}
@media only screen and (min-width:768px){
    section.options[data-active-option="12h"] .handle{
        top:10px
    }
    section.options[data-active-option="1d"] .handle{
        top:93px
    }
    section.options[data-active-option="2d"] .handle{
        top:175px
    }
    section.options[data-active-option="7d"] .handle{
        top:259px
    }
}


